body {
    background-color: green;
    color: antiquewhite;
}

h1 {
    color: white;
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 600;
    font-style: normal;
}

h2 {
    color: white;
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 400;
    font-style: normal;
}
h3 {
    color: white;
    font-family: "Libertinus Serif Display", system-ui;
    font-weight: 200;
    font-style: normal;
}